.section-resume {
    background-color: #fff;
    max-width: 1850px;
    min-height: 840px;
    padding-top: 115px;
    

  &::before {
    position: absolute;
    content: "";
    border-radius: 500px;
    background-color: $accent-color;
    width: 500px;
    height: 500px;
    right: 600px;
    top: 4640px;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    background-image: url(/image/berry-6.png);
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 4560px;
    right: 885px;
   
  }
    &__span {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.1px;
    color: #2E363E;
    border-radius: 5px;
    background-color: #F2F6FA;
    padding: 10px 18px;
    }
    &__tittle {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -1px;
        color: #2E363E;
        width: 580px;
        margin-top: 24px;
        margin-bottom: 36px;
        
    }
    &__item {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        list-style: inside;
        width: 379px;
        color: #2E363E;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
      }
       
    &__btn {
       margin-top: 50px;
       margin-bottom: 0;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 152%;
        color:  #2E363E;
        background-color: #FED84C;
        width: 260px;
        height: 75px;
        border-radius: 8px;
        border: transparent;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: orange;
            transition-duration: 250ms;
            transform: scale(1.1);

        }
        }
     &__tittle-2 {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
        background-color:  #2E363E;
        color: #fff;
        width:  193px;
        height: 60px;
        align-items: center;
        display: flex;
        position: relative;
        z-index: 1;
    }
    &__icon1 {
        position: absolute;
        top: 4914px;
        z-index: 1;
        right: 1182px;
        }
    &__icon-2 {
        position: absolute;
        z-index: 1;
        top: 4914px;
        right: 968px;
        }
        &__icon-3 {
       position: absolute;
       content: "";
       z-index: 1;
       right: 1160px;
       top: 5006px;
        }
        &__icon-4 {
            position: absolute;
            content: "";
            top: 5006.5px;
            right: 990px;
            z-index: 1;

        }
    &__div {
        display: flex;
        justify-content: center;
    }
        &__span-2 {
        display: flex;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: #F2F6FA;
        color: #2E363E;
        width: 148px;
        height: 52px;
        align-items: center;
        position: relative;
        z-index: 1;

    }
       &__div-2 {
        margin-top: 400px;
        flex-direction: column;
        align-items: center;
        display: inline-flex;
        
       }
    } 
            

                    