body {
    font-family: 'Montserrat', sans-serif;
    

}
ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
 img {
     display: block;
    object-fit: cover;
    width: 100%;
 }
 li {
    list-style: none;
 }

 